img {
    object-fit: contain;
}

#Header {
    text-align: center;
    color: white;
}

.back {
    background-color: #CAD2C5;
}

.back-dark {
    background-color: #2C3639;
}

.bar {
    background-color: #2F3E46;
}

.card {
    width: 18rem;
    top: 1rem;
}

.card-body>a {
    float: right;
}

.card-algorithm-type {
    --bs-card-bg: #84A98C;
    --bs-card-color: white;
}

.card-algorithm-type-dark {
    --bs-card-bg: #3F4E4F;
}

.btn-orangeRed {
    --bs-btn-bg: #F26419;
    --bs-btn-color: white;
}

.modal-setting {
    --bs-modal-bg: #84A98C;
}

.modal-setting-dark {
    --bs-modal-bg: #3F4E4F;
    --bs-modal-color: white;
}

