:root {
    --charcoal: #2F3E46;
    --ashGray: #CAD2C5;
    --darkSeaGreen: #84A98C;
    --orangeRed: #F26419;
    --unitedNationsBlue: #6290C8;
    --ming: #28666E;
    --navajoWhite: #FEDC97;
    --outerSpaceCrayola: #2C3639;
    --darkSlateGray: #3F4E4F;
    --graniteGray: #696464;
}

td { 
    box-sizing: border-box;
    position: relative;
    border: solid 1px;
    width: var(--width);
    height: var(--height);
    /*background-color: var(--ashGray);*/
}

body {
    height: calc(100vh - 96px);
    background-color: var(--ashGray);
}

#grid-container {
    height: calc(100%);
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.wall {
    background-color: var(--unitedNationsBlue);
}

.startnode {
    background-color: green;
}

.endnode {
    background-color: red;
}

.bar {
    position: fixed;
    bottom: 0px;
}

.controls {
    height: 40px;
    width: auto;
    background-color: #2c3639;
    border: none;
}

.draggable {
    position: absolute;
    z-index: 9;
    --bs-card-bg: var(--darkSeaGreen);
}

#pseudocode {
    top: 25%;
    right: 1%;
}

#annotation {
    top: 50%;
    right: 1%;
}

.card-body {
    overflow-y: scroll;
}

#AnimSpeed {
    width: 40px;
    border-radius: 50%;
    margin: 10px;
}

@media (max-width: 767.98px) {
    .draggable {
        display: none;
    }
}

button.btn-menu {
    --bs-btn-bg: var(--outerSpaceCrayola);
    --bs-btn-hover-bg: var(--darkSeaGreen);
    --bs-btn-active-bg: var(--darkSeaGreen);
    --bs-btn-color: white;
    --bs-btn-hover-color: black;
    --bs-btn-active-color: black;
    --bs-btn-active-border-color: var(--darkSeaGreen);
    --bs-btn-border-radius: 0;
}

.dropdown-menu {
    --bs-dropdown-bg: var(--darkSeaGreen);
    --bs-dropdown-link-color: black;
    --bs-dropdown-link-active-bg: var(--orangeRed);
    --bs-dropdown-link-active-color: black;
    --bs-dropdown-link-hover-bg: var(--outerSpaceCrayola);
    --bs-dropdown-link-hover-color: white;
    --bs-dropdown-border-radius: 0;
    --bs-dropdown-spacer: 0;
}