:root {
    --charcoal: #2F3E46;
    --ashGray: #CAD2C5;
    --darkSeaGreen: #84A98C;
    --orangeRed: #F26419;
    --unitedNationsBlue: #6290C8;
    --ming: #28666E;
    --navajoWhite: #FEDC97;
    --outerSpaceCrayola: #2C3639;
    --darkSlateGray: #3F4E4F;
    --graniteGray: #696464;
}

td { 
    box-sizing: border-box;
    position: relative;
    border: solid 1px;
    width: var(--width);
    height: var(--height);
    /*background-color: var(--ashGray);*/
}

body {
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--ashGray);
    overscroll-behavior: contain;
}

#grid-container {
    height: calc(100% - 116px);
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.wall {
    background-color: var(--unitedNationsBlue);
}

.startnode {
    background-color: green;
}

.endnode {
    background-color: red;
}

.top-bar {
    background-color: var(--charcoal);
    height: 56px;
}

.bottom-bar {
    position: fixed;
    bottom: 0px;
    background-color: var(--charcoal);
}

#pseudocode {
    top: 25%;
    right: 1%;
}

#annotation {
    top: 50%;
    right: 1%;
}

#AnimSpeed {
    width: 40px;
    border-radius: 50%;
    margin: 10px;
}