:root {
    --charcoal: #2F3E46;
    --ashGray: #CAD2C5;
    --darkSeaGreen: #84A98C;
    --orangeRed: #F26419;
    --unitedNationsBlue: #6290C8;
    --ming: #28666E;
    --navajoWhite: #FEDC97;
    --outerSpaceCrayola: #2C3639;
    --darkSlateGray: #3F4E4F;
    --graniteGray: #696464;
}

td { 
    box-sizing: border-box;
    position: relative;
    border: solid 1px;
    width: var(--width);
    height: var(--height);
}

body {
    height: calc(100vh - 104px);
}

#grid-container {
    height: calc(100%);
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.wall {
    background-color: blue;
}

.startnode {
    background-color: green;
}

.endnode {
    background-color: red;
}

.bar {
    position: fixed;
    bottom: 0px;
}

.controls {
    height: 40px;
    width: auto;
    background-color: #2c3639;
    border: none;
}

.draggable {
    position: absolute;
    top: 50%;
    left: 75%;
    z-index: 9;
    --bs-card-bg: var(--darkSeaGreen);
  }