.arrBar {
    background: var(--unitedNationsBlue);
    width: 5px;
    margin: 0 10px;
}

.arrBarSelected {
    background: var(--orangeRed);   
}

#arrCanvas {
    height: 75vh;
}

#pseudocodeBox {
    background: var(--navajoWhite);
    width: 350px;
    height: 280px;
    margin: 25px 0;
}

#annotationBox {
    background: var(--navajoWhite);
    width: 350px;
    height: 100px;
    margin: 25px 0;
}

.activeStep {
    background: black;
    color: white;
}