:root {
    --charcoal: #2F3E46;
    --ashGray: #CAD2C5;
    --darkSeaGreen: #84A98C;
    --orangeRed: #F26419;
    --unitedNationsBlue: #6290C8;
    --ming: #28666E;
    --navajoWhite: #FEDC97;
    --outerSpaceCrayola: #2C3639;
    --darkSlateGray: #3F4E4F;
    --graniteGray: #696464;
}

#arrCanvas {
    position: relative;
    min-height: calc(100% - 60px);
    max-height: calc(60vh - 60px);
    width: 75vw;
    left: 5%;
    display: grid;
    align-items: end;
    grid-template-columns: repeat(var(--columns), 1fr);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#pseudocodeBox {
    background: var(--navajoWhite);
    position: relative;
    display: inline;
    top: 10%;
    width: 20vw;
    height: 280px;
}

#annotationBox {
    background: var(--navajoWhite);
    position: relative;
    display: inline;
    width: 20vw;
    height: 100px;
}

.arrBox {
    background: var(--unitedNationsBlue);
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
    height: 100px;
    text-align: center;
    line-height: 100px;
}