:root {
    --charcoal: #2F3E46;
    --ashGray: #CAD2C5;
    --darkSeaGreen: #84A98C;
    --orangeRed: #F26419;
    --unitedNationsBlue: #6290C8;
    --ming: #28666E;
    --navajoWhite: #FEDC97;
    --outerSpaceCrayola: #2C3639;
    --darkSlateGray: #3F4E4F;
    --graniteGray: #696464;
}

.arrBar {
    background: var(--unitedNationsBlue);
    box-sizing: border-box;
    border: 1px solid black;
    /* margin: 0 3px; */
    text-align: center;
    margin-left: 1.5px;
    margin-right: 1.5px;
    cursor: pointer;
}

.barFooter {
    max-height: 2rem;
    min-height: 2rem;
    overflow: hidden;
    text-align: center;
}

.barFooter-dark {
    color: white;
}

@media (max-width: 767.98px) {
    .arrBar {
        margin-left: 1px;
        margin-right: 1px;
    }
}

.arrBar-dark {
    color: white;
}

.arrBarSelected {
    background: var(--orangeRed);
}

@media (max-width: 767.98px) {
    /* .barFooter {

    } */
}

#arrCanvas {
    position: relative;
    /* min-height: calc(100% - 60px); */
    /* max-height: calc(60vh - 60px); */
    width: 90vw;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--widthCSS));
    /* column-gap: 3px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* align-items: end; */
    /* justify-items: end; */
}

@media (max-width: 767.98px) {
    #arrCanvas {
        column-gap: 0px;
    }
}
.activeStep {
    background: black;
    color: white;
}

#pseudocode {
    top: 70%;
    left: 25%;
}

#annotation {
    top: 70%;
    left: 50%;
}